.menu-open {
    visibility: hidden;
}

.menu-line-1,
.menu-line-2,
.menu-line-3 {
    background-color: white;
    height: 4px;
    width: 45%;
    margin: 0.2rem;
}

.menu-open-button {
	flex-direction: column;
	height: 5.5rem;
 width: 5.5rem;
	top: 0;
}

.menu-open:checked + .menu-open-button,
.menu-item {
    height: 4rem;
    width: 4rem;
}

.menu-open:checked ~ .menu-item {
	visibility: visible;
}


.menu-open:checked~.menu-item:nth-of-type(1) {
	top: 5rem;
}

.menu-open:checked~.menu-item:nth-of-type(2) {
	top: 10rem;
}

.menu-open:checked~.menu-item:nth-of-type(3) {
	top: 15rem;
}

.menu-open:checked~.menu-item:nth-of-type(4) {
	top: 20rem;
}

.menu-open:checked~.menu-item:nth-of-type(5) {
	top: 25rem;
}

.menu-open-button,
.menu-item {
    background-color: #cc1c3c;
    border: solid #94041e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
    position: absolute;
}

.menu-item {
    text-decoration: none;
    top: 0;
    font-size: 1.2rem;
    visibility: hidden;
    transition: top 1s;
}

.menu-item:hover {
    background-color: white;
}

.menu-item:hover i {
    color: #94041e;
}

i {
    color: white;
}

.menu-open:checked+.menu-open-button .menu-line-1 {
    transform: rotate(45deg);
				transform-origin: left;
    margin-left: 0.7rem;
}

.menu-open:checked+.menu-open-button .menu-line-3 {
    transform: rotate(-45deg);
				transform-origin: left;
    margin-left: 0.7rem;
}

.menu-open:checked+.menu-open-button .menu-line-2 {
    visibility: hidden;
}
